.footer{
    
    text-align: center;
   
   
}


.footerContent{
      
/*      
       font-family: 'Nunito', sans-serif;
       font-size: 24px;
    
       text-transform: uppercase;
    
       text-decoration: underline;
       text-decoration-color: #EB1074;
       text-underline-position: under;
        */
  

}